/* Reset margins and paddings on most elements */
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
    margin: 0;
    padding: 0;
}

/* font style */
@font-face {
    font-family: Roboto;
    font-weight: 400;
    font-display: swap;
    src: local("Roboto") url(fonts/roboto-regular.woff2) format('woff2');
}

p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

div {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
}

.sidebar-left-top p {
    font-size: 18px;
}

/* main general */
.main-container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.sidebar-left-top {
    padding: 36px;
    background: linear-gradient(to bottom left, #0af2b8, #02a8dc) !important;
    grid-column: 1 / 4;
    grid-row: 1 / 1;
}

.sidebar-left-bottom {
    padding: 36px;
    background: #000;
    grid-column: 1 / 4;
    grid-row: 2 / 2;
}

.sidebar-right-top {
    padding: 5px;
    background: #fff;
    grid-column: 4 / -1;
    grid-row: 1 / 1;
    height: 100%;
    overflow: hidden;
}

.sidebar-right-bottom {
    padding: 5px;
    background: #e1e1e1;
    grid-column: 4 / -1;
    grid-row: 2 / 2;
}

.sidebar-left-top img {
    display: block;
    margin: auto;
    width: 60%;
}

/* spesific */
.sidebar-left-top .container-socmed-share a>img {
    display: inline-block;
    margin: auto;
    width: 15%;
    padding-bottom: 5px;
    margin-right: 5px;
    background: #0dffb4;
}

.container-socmed-share,
.container-socmed-share a,
.sidebar-left-top p,
.sidebar-left-bottom p,
.textarea-comment textarea,
.button-comment {
    margin-top: 10px;
    text-decoration: none;
}

.button-comment {
    background: #cf1c26;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.textarea-comment textarea {
    background: white;
    resize: none;
    width: 98%;
}

.name-user-comment {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
    color: white;
}

/* bubbles */
.speech-bubble-right,
.speech-bubble-left {
    position: relative;
    padding: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.speech-bubble-left {
    margin-left: 65px;
    margin-right: 40px;
}

.speech-bubble-right {
    margin-left: 40px;
    margin-right: 65px;
}

.speech-bubble-left {
    text-align: left;
}

.speech-bubble-right {
    text-align: right;
}

.speech-bubble-right img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: right;
    right: -70px;
    z-index: 2;
    position: relative;
    bottom: 35px;
}

.speech-bubble-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    left: -70px;
    z-index: 2;
    position: relative;
    bottom: 35px;
}

.speech-bubble-right.coral:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: coral;
    border-right: 0;
    border-bottom: 15px solid transparent;
    margin-top: -20.5px;
    margin-right: -15px;
}

.speech-bubble-left.olive:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: olive;
    border-left: 0;
    border-bottom: 15px solid transparent;
    margin-top: -20.5px;
    margin-left: -15px;
}

.speech-bubble-right.aqua:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-left-color: #02a8dc;
    border-right: 0;
    border-bottom: 15px solid transparent;
    margin-top: -20.5px;
    margin-right: -15px;
}

.speech-bubble-left.aqua:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-right-color: #02a8dc;
    border-left: 0;
    border-bottom: 15px solid transparent;
    margin-top: -20.5px;
    margin-left: -15px;
}

/* coloring */
.coral {
    background-color: coral;
}

.olive {
    background-color: olive;
}

.aqua {
    background-color: #02a8dc;
}

.mobile-only {
    visibility: hidden;
}

/* animate */
.animate-show {
    -webkit-animation: animate-keyframe-show .4s cubic-bezier(.39, .575, .567, 1) both;
    animation: animate-keyframe-show .4s cubic-bezier(.39, .575, .565, 1) both;
    animation-delay: 0 5%;
}

.cloud-1 {
    position: relative;
    -webkit-animation: moveup-cloud 10s linear infinite, 4s ease-in-out infinite alternate;
    -moz-animation: moveup-cloud 10s linear infinite, 4s ease-in-out infinite alternate;
    -o-animation: moveup-cloud 10s linear infinite, 4s ease-in-out infinite alternate;
}

.cloud-2 {
    position: relative;
    -webkit-animation: moveup-cloud 20s linear infinite, 5s ease-in-out infinite alternate;
    -moz-animation: moveup-cloud 20s linear infinite, 5s ease-in-out infinite alternate;
    -o-animation: moveup-cloud 20s linear infinite, 5s ease-in-out infinite alternate;
}

.cloud-3 {
    position: relative;
    -webkit-animation: moveup-cloud 15s linear infinite, 10s ease-in-out infinite alternate;
    -moz-animation: moveup-cloud 15s linear infinite, 10s ease-in-out infinite alternate;
    -o-animation: moveup-cloud 15s linear infinite, 10s ease-in-out infinite alternate;
}

.cloud-4 {
    position: relative;
    -webkit-animation: moveup-cloud 8s linear infinite, 3s ease-in-out infinite alternate;
    -moz-animation: moveup-cloud 8s linear infinite, 3s ease-in-out infinite alternate;
    -o-animation: moveup-cloud 8s linear infinite, 3s ease-in-out infinite alternate;
}

@keyframes moveup-cloud {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-webkit-keyframes moveup-cloud {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@-moz-keyframes moveup-cloud {
    0% {
        top: 500px;
    }

    100% {
        top: -500px;
    }
}

@keyframes animate-keyframe-show {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 5%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 5%;

    }
}

@-webkit-keyframes animate-keyframe-show {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 5%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 5%;

    }
}

/* media screen */
@media screen and (max-width:800px) {
    .sidebar-left-top {
        grid-row: 1 / 1;
        grid-column: 1 / -1;
    }

    .sidebar-left-bottom {
        grid-row: 2 / 2;
        grid-column: 1 / -1;
    }

    .sidebar-right-top {
        grid-row: 3 / 3;
        grid-column: 1 / -1;
        height: 400px;
        overflow: hidden;
    }

    .sidebar-right-bottom {
        grid-row: 4 / 4;
        grid-column: 1 / -1;
        overflow: auto;
        height: 400px;
    }

    .speech-bubble-right img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: right;
        right: -70px;
        z-index: 2;
        position: relative;
        bottom: 85px;
    }
    
    .speech-bubble-left img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        float: left;
        left: -70px;
        z-index: 2;
        position: relative;
        bottom: 85px;
    }

    .mobile-only {
        visibility: visible;
    }
}